<div class="products-cart">
  <a class="cart-toggle" href="#" id="navbarDropdown" role="button">
    <span class="cart--items-ammount">{{ 2 }}</span>
    <span class="sr-only">Toggle cart contents</span>
  </a>

  <ul class="cart-contents" aria-labelledby="navbarDropdown">
    <!-- cart header here -->
    <li class="cart-header">
      <span class="cart--items-ammount">{{ cartArray.length }} items in cart</span>

      <div class="cart-header-wrap">
        <span class="cart--price-total">$ {{ totalPrice }}</span>
        <a class="button cart--clear" (click)="clearCart()">Clear cart</a>
      </div>
    </li>

    <!-- list of games here -->
    <li *ngFor="let elem of cartArray" class="cart--game" href="">
      <img class="game--img" src="{{ elem.imgPath }}" alt="{{ elem.title }}">
      <div class="game-item-wrap">
        <span class="game--title">{{ elem.title }}</span>
        <a class="game--remove" (click)="removeFromCart(elem)">Remove</a>
      </div>
      <span class="game--price">{{ elem.price }}</span>
    </li>

  </ul>
</div>
