.price-total,
.price {
    color: $font-darkgray;
    @include font-weight(700);
}

.game--remove {
    color: $black;
    text-decoration: underline;
    text-transform: none;
}

.hide {
    display: none !important;
}
