.button {
    &:not([href]):not([tabindex]) {
        color: $white;
        font-size: .875rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 15px;
        border-radius: 3px;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: $white;
        }

        &.cart-clear {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            @include gradient($violet1, $violet2);
            @include box-shadow-lg;

            &:hover {
                background: $purple;
            }
        }

        &.cart-add {
            height: 23px;
            color: $font-gray;
            font-size: .75rem;
            line-height: 23px;
            background: rgba(0, 0, 0, .01);
            border: 1px solid $border-btn;
            @include box-shadow-sm;

            &:hover {
                color: $white;
                @include gradient($lightgreen, $green);
            }
        }

        &.item-discount {
            height: 23px;
            line-height: 23px;
            font-size: .75rem;
            background: $bg-grayblue;
            @include box-shadow-sm;
        }
    }
}
