/* ------ MIXINS ------ */

// FLEX
@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// FONT WEIGHT
@mixin font-weight($weight: 400) {
    @if $weight==400 {
        font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
        font-weight: 400;
    }
    @if $weight==600 {
        font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
        font-weight: 600;
    }
    @if $weight==700 {
        font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
        font-weight: 700;
    }
}

// GRADIENTS
@mixin gradient($color1, $color2) {
    background: $color2;
    background: -moz-linear-gradient($color1, $color2);
    background: -webkit-linear-gradient($color1, $color2);
    background: linear-gradient($color1, $color2);
}

// BOX-SHADOW
@mixin box-shadow-lg {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5);
}
@mixin box-shadow-bottom {
    -webkit-box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, .3);
    box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, .3);
}
@mixin box-shadow-md {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .5);
}
@mixin box-shadow-xs {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 1px 1px 0px rgba( 0, 0, 0, .1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .1);
}

// BREAKPOINTS
@mixin breakpoint($point) {
    @if $point==sm {
        @media (min-width: 576px) {
            @content;
        }
    }
    @else if $point==md {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point==lg {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $point==xl {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $point==sm_down {
        @media (max-width: 575px) {
            @content;
        }
    }
}
