/* ------ COLORS ------ */
// Base
$black:         #212121;
$white:         #fff;
$shaded-white:  #f7f7f7;

// Fonts
$font-gray:     #686868;
$font-darkgray: #404040;

// Background
$bg-gray:       #c2c2c2;
$bg-grayblue:   #788795;

// Gradient colors
$violet:        #b65ae2;
$purple:        #7b3dc6;
$bg-purplegray: #b8b3be;

$lightgreen:    #9fbf00;
$green:         #80ab00;
$mintgreen:     #00905e;

$lightgray:     #eeeeee;
$midgray:       #dedede;

// borders
$border-btn:    #a6a6a6;
$border-gray:   #e4e4e4;
$border-violet: #8358b7;


/* ------ FONTS ------ */
$font-main: 'Source Sans Pro', 'Open Sans', sans-serif;
