@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

// @font-face {
//     font-family: 'SourceSansPro';
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'SourceSansPro-SemiBold';
//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'SourceSansPro-Bold';
//     font-weight: 700;
//     font-style: normal;
// }

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

// more ff here if necessary
