<main id="offer-grid" class="offer-grid">
  <div class="container">
    <div class="row">
      <h1>Game of the week</h1>
    </div>

    <!-- game of the week -->
    <div class="row">
      <div class="featured-game">
        <img src="{{featuredGame.imgPath}}" alt="{{featuredGame.title}}">
      </div>
    </div>

    <!-- games grid -->
    <div class="row">
      <div class="game-shelf">

        <ng-container *ngFor="let item of gameArray">

          <app-game [game]="item" *ngIf="item.status !== 'featured_game'"></app-game>

        </ng-container>

      </div>
    </div>
  </div>
</main>
