<main id="offer-grid" class="offer-grid">
  <div class="container">
    <div class="row">
      <h1>Game of the week</h1>
    </div>

    <!-- game of the week -->
    <div class="row">
      <div class="featured-game">
        <img src="{{featuredProduct.imgPath}}" alt="{{featuredProduct.title}}">
      </div>
    </div>

    <!-- games grid -->
    <div class="row">
      <div class="game-shelf">

        <div *ngFor="let product of productsArray" class="product {{product.status}}">
          <img src="{{product.imgPath}}" alt="{{product.title}}"/>
          <div class="game-info-wrapper">
            <span class="product-title">{{product.title}}</span>
            <span *ngIf="product.status !== 'owned' && product.discount > 0" class="label discount-label">{{'-' + product.discount * 100 + '&#37;'}}</span>
            <a *ngIf="product.status !== 'owned'||'in-cart'"
               (click)="addToCart()"
               class="button product--add-cart">&#36; {{ product.price }}</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
