<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>GOGApp</title>

  <base href="/">
</head>

<body (click)="checkCart($event)">

  <app-main-nav></app-main-nav>
  <app-offer-grid></app-offer-grid>

</body>

</html>


<!-- <a class="button product--add-cart">Add to cart</a> -->
<!-- <a class="button item-discount">-50%</a> -->


