.offer-grid {
    height: calc(100vh - 58px);
    padding-top: 40px;

    @include gradient($bg-purplegray, $bg-gray);

    h1 {
        margin-bottom: 15px;
        @include font-weight(700);
    }
}

.featured-game {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    @include box-shadow-md;

    img {
        margin: -5px -4px;
    }
}

.game-shelf {
    @include flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(lg) {
        flex-direction: row;
    };
}

.product {
    @include box-shadow-md;
    flex: 1 1 20%;
    background-color: $white;
    // margin-bottom: 20px;
    margin-right: 20px;
    max-width: 196px;

    &:last-child {
        margin-right: 0;
    }

    img {
        display: block;
    }

    .game-info-wrapper {
        padding: 10px;

        .product-title {
            display: block;
            height: 32px;
            line-height: 1.2;
            @include font-weight(600);
        }
    }
}
