<div class="product {{game.status}}" >
  <img [src]="game.imgPath" alt="{{game.title}}" />

  <div class="game-info-wrapper">

    <h2 class="game-title">{{game.title}}</h2>
    <button (click)="addCart(game)"
            class="button product--add-cart">
              {{'&#36; ' + countPrice(game.price, game.discount) }}</button>
    <span class="label owned-label">Owned</span>
    <span class="label in-cart-label">In cart</span>
    <span [class.hide]="checkDiscount(game.discount)" class="label discount-label">{{'-' + game.discount * 100 + '&#37;'}}</span>

  </div>
</div>
